
body {
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.markdown-section ol, .markdown-section p, .markdown-section ul {
    line-height: 1.6rem;
    font-size: 14px;
}

.markdown-section {
    margin-top: 0;
    margin-left: 50px;
    margin-right: 70px;
    max-width: 1430px;
    padding: 30px 15px 40px;
    position: relative;
}

.vuep {
    flex-direction: column;
}

.vuep-editor,
.vuep-preview,
.vuep-error {
    border-radius: 2px;
    height: inherit;
    margin-right: 10px;
    overflow: auto;
    flex: 0 0 100%;
    overflow: hidden;
}

.vuep-preview {
    overflow: initial;
}

.content {
    padding-top: 20px;
    left: 360px;
}

.sidebar {
    width: 360px;
    padding: 5px;
}

.markdown-section {
    padding: 5px 30px 40px;
}

.markdown-section pre>code {
    padding: 3px 5px;
}

h1 a:hover,
h2 a:hover {
    text-decoration: none !important;
}

.sidebar h1,
.sidebar h2 {
    font-size: 18px;
    padding-left: 5px;
}

.sidebar ul li {
    margin: 2;
}

.sidebar ul li a {
    transition: all .2s;
    font-size: 14px;
    line-height: 2;
}

.sidebar ul li a:hover {
    text-decoration: none;
    color: #42b983;
}

#gitalk-container {
    width: unset !important;
    max-width: 1430px;
    padding-right: 30px;
    padding-left: 15px;
}

.github-fork {
    position: fixed;
    top: 0;
    right: 0;
}

.content ul li {
    margin: 6px 0;
}

.markdown-section pre>code {
    font-size: 12px;
    line-height: 1.4;
}

.token.selector {
    font-size: 1.1em;
}

.markdown-section h2 {
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.g-pv-container {
    font-size: 12px;
    color: #bbb;    
}

.g-pv-container .g-time,
.g-pv-container .g-pv {
    margin-right: 12px;
}

.g-btn-like-container {
    position: fixed;
    width: 48px;
    height: 48px;
    right: 24px;
    bottom: 24px;
    background: #fff;
    box-shadow: 0 1px 2px 0 #00000030;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s;
}

.g-btn-like-container:hover {
  box-shadow: 0 2px 4px 0 #00000050;
}

.g-btn-like {
  position: absolute;
  background-image: url('../images/like.png');
  background-repeat: no-repeat;
  /*background-size: 2900%;*/
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -47.5%);
  overflow: hidden;
}

.is-liked {
  background-position: -2800px 0;
}

.like-active {
  animation-timing-function: steps(28);
  animation-name: heart-burst;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    left: -360px;
  }
  body.close .sidebar {
    transform: translateX(360px);
  }
  .markdown-section {
    margin-left: 0;
    margin-right: 0;
    padding: 5px 12px 40px;
  }
  .gitalk-container {
    padding: 0 12px;
  }
  .sidebar-toggle::before {
    content: "";
    position: fixed;
    background: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 4px 1px #ddd;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    z-index: -1;
    cursor: pointer;
    transition: .5s all;
  }

  .sidebar-toggle-button span {
    transition: .5s all;
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
  body.close .sidebar-toggle {
    width: 50px;
  }
  body.close .sidebar-toggle-button span:nth-child(1) {
    transform: translate(0px, 9px) rotate(45deg);
    background-color: #fff;
  }
  body.close .sidebar-toggle-button span:nth-child(3) {
    transform: translate(0px, -3px) rotate(-45deg);
    background-color: #fff;
  }
  body.close .sidebar-toggle-button span:nth-child(2) {
    background-color: #fff;
    opacity: 0;
  }
  body.close .sidebar-toggle::before {
    background: #42b983;
  }
  body.close .sidebar-toggle:hover .sidebar-toggle-button {
    opacity: .8;
  }
}
